@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

body {
    background-color: #fff;
    margin:0;
    padding:0;
}

/* @group Header */

#header {
    @include row;
    .container {
        h1#logo {
            margin: 0;
            padding: 0;
            line-height: 100%;
            font-size: em(46);
            a {
                color: #000;
                &:hover {
                    color: $brand;
                }
            }
        }
    }
}


/* @end */

/* @group structure */

.container {
    @include outer-container();
    @include pad(em(20));
    @include media($medium-screen-up) {
        @include pad(default);
    }
    .fullwidth {
        @include span-columns(12);
        @include pad(default);
    }
    .sidebar {
        @include media($medium-screen-up) {
            @include span-columns(4);
            @include shift(-12);
            ol,ul {
                margin-bottom: em(20);
            }
        }
    }
    .maincol {
        @include media($medium-screen-up) {
            @include span-columns(8);
            @include shift(4);
        }
    }
}


.midsection {
    background: hsl(0, 0%, 95%);
    @include row();
}



/* @end */

/* @group Typography */
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

small {
  color: $medium-gray;
}

/* @end */

