@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails


// Debug
$visual-grid: false !default;
$visual-grid-color: hsl(0, 0%, 98%);
$visual-grid-index: back;


// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1200);


// Neat Breakpoints
$small-screen: em(480);
$medium-screen: em(768);
$large-screen: em(960);


//tablet portrait up
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
// tablet landscape up
$large-screen-up: new-breakpoint(min-width $large-screen 12);
// desktop HD only
$desktop-hd: new-breakpoint(min-width $max-width 12);


// smartphones portrait and landscape only
$mobile-only: new-breakpoint(max-width $small-screen 4);
// tablet portrait and landscape only
$tablet-only: new-breakpoint(min-width $medium-screen max-width em(959) 8);
// tablet portrait and landscape (3-col)
$tablet-three-col: new-breakpoint(min-width $medium-screen max-width em(959) 9);